@tailwind base;
@tailwind components;
@tailwind utilities;



html.dark {
  /* background-color: #333; */
  color: #fff;
}

html.light {
  background-color: #fff;
  color: #000;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif,;
}
.resContainer {
  width: 1600px;
  max-width: 80%;
  margin: auto;
}


*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}
